body {
    font-family: "Nunito", sans-serif;    
  }
  .container-space {
    margin-top: 2rem;
  }
  .thumbnail-active {
    border: 2px solid #000;
  }
  .nav-link > img {
    width: 40px;
    border-radius: 8px;
    margin-right: 10px;
  }
  .btn-custom-color {
    border: 2px solid #4fc08d;
    color: #4fc08d;
  }
  .btn-custom-color:hover {
    border: 2px solid #4fc08d;
    background-color: #4fc08d;
    color: #ffffff;
  }
  .DetailImg {
    width: 100%;
  }